body {
	font-size: 14px;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: #d9d9d9;
	text-align: center;
	color: #39383A;
}
div.content-title-header {
    border-bottom:#bbb 1px solid !important;
}
div.pageTitle, .boardHeader .gameName { 
    text-shadow: #999999 1px 1px 1px;
    font-size:22px !important;
    font-weight:normal !important;
}
div.pageTitle {
    font-size:18pt;
    color:#009922;
    font-weight:bold;
    padding:4px 20px;
}
.bottomborder {
    border-bottom:#ccc 1px solid;
}
div.pageDescription {
    padding:4px 20px;
    color:#666;
    font-style:italic;
    border-top:#ccc 1px solid;
}
.messageFromMe {
	font-style: italic;
}
span.logon {
	font-size:11px;
	}
span.points {
	/* No (1234
			D),
		only (1234D) */
	white-space: nowrap;
}
input[type="text"], input[type="submit"], input[type="password"], textarea, select {
	font-size: 14px;
	background-color: #eaffea;
	border: 1px solid #c1c1c1;
	color:#009902;
}
textarea {
	font-size: 16px ! important; 
	width:90%;
	font-family: sans-serif;
}
div.hr, div.hrthin {
	height:0;
	border: 0;
	border-bottom: 1px solid #aaa;
	margin-top:10px;
	margin-bottom:10px;
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
div.postboxadvice {
	font-size:13px;
	text-align:center;
	font-style: italic;
	color:#777
	}
div.hr {
}
div.clear {
	border-bottom: 0;
}
h1, h2, h3, h4 {
	color: #009902;
	margin-bottom:5px;
}
h3 {
	margin-left:10px;
}
img {
	border:0;
}
p.profileComment {
	font-size:12px;
	font-style:italic;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	}
img.center {
	text-align:center;
}
h2.black {
	color: #000;
}
span.gamename {
	font-size:15px;
	color: #009902;
	font-weight:bold;
}
ul.gamemain {
	margin-left:20px;
	margin-right:20px;
	padding:0;
}
ul.gamesublist {
	font-weight: normal;
	font-size:13px;
	color: #777;
	/*list-style: none;*/
}
div.rightHalf {
	float:right;
	width:50%;
	padding-top:0;
	margin-bottom:0;
	border-left:1px solid #aaa;
	padding-left:10px
}
div.leftHalf {
	width:50%;
}
ul.todolist {
	margin-left: 20px;
	color: #777;
}

ul.formlist {
	list-style: none;
	margin-left:20px;
	margin-right:20px;
	padding:0;
}

li {
	margin-bottom:5px;
}
li.formlisttitle {
	font-weight: bold;
}

.spaced-button {
    margin-left: 1em;
    margin-right: 1em;
}

.form-submit {
	font-weight: bold ! important;
	color: #006699 ! important;
}
li.formlistfield {
	list-style: none;
	margin-bottom:10px;
	margin-left:20px;
	margin-right:20px;
	margin-top:5px;
}
li.formlistdesc {
	font-weight: normal;
	color: #777;
	list-style: none;
	margin-left:20px;
	margin-right:20px;
	border-left: 1px solid #aaa;
	padding-left: 10px;
	margin-bottom: 30px;
}
li.playerdetails {
	margin-left:60px;
}
.intro {
	font-size:16px;
}
li.introheader {
	margin-top:20px;
	font-weight: bold;
	list-style: none;
}
li.introexplain {
	font-weight: normal;
	color: #555;
	list-style: none;
	margin-left:20px;
	margin-right:20px;
}
li.introexplainsupport {
	font-weight: normal;
	color: #555;
	list-style: none;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
}
li.introimages {
	text-align:center;
	margin-top:10px;
	list-style: none;
}
strong {
	font-weight: bold;
}
strong.description {
	font-weight: bold;
	font-style: italic;
	color: #777;
	margin-left:40px;
}
p.notice {
	font-weight: bold;
	text-align: center;
	margin:0px;
}
p.welcome {
	margin-left: 20px;
	margin-right: 20px;
}
p.question {
	font-weight: bold;
	margin-bottom:10px;
}
p.answer {
	margin:20px;
	margin-top:0;
}
p.smallindent {
	font-size:13px;
	color: #777;
	margin-left:40px;
}
p.orders {
	margin:0 20px;
}
p.code {
	font-family: courier;
	font-size:12px;
	margin-left:40px;	
}
p.lightgrey {
	font-size:13px;
	text-align:center;
	color:#777;
	font-style:italic;
}
a {
	font-weight: bold;
	text-decoration:underline;
}
a:link {
	color: #006699;
}
a:visited {
	color: #006699;
}
a:active {
	color: #006699;
}
a:hover {
	color: #009902 ! important;
}
a.light {
	font-weight:normal;
	text-decoration:none !important;
}
#mapstore {
	text-align:center;
	margin:0 auto;
}
#header {
	background-color: #fff;
	width: auto;
	padding:0;
	margin:0;
	text-align: left;
}
#header-container {
	padding-left:0;
	background-color: #fff;
	height:70px;
	padding-right:0;
	padding-top:6px;
	padding-bottom:4px;
	margin-left: auto;
	margin-right: auto;
	margin-top:0;
	margin-bottom:0;
	max-width: 800px;
}
#logo {
	padding:0;
	margin:0;
	position:absolute;
	vertical-align:middle;
	border: 0;				
}
#header-welcome {
	padding:0;
	margin:0;
	text-align:right;
	font-style: italic;
}
#header-welcome a {
	font-weight:normal !important;
	text-decoration:none !important;
}
#header-goto {
	padding:0;
	margin:0;
	margin-top: 38px;
	text-align:right;
	clear:right;
}
#header-goto a {
	margin-left: 14px;
}
#header-goto a.current {
	color:#000;
}
#header-goto a.current:hover {
	color:#009902;
}
#seperator {
	margin: 0;
	padding: 0;
	width: auto;
	background-color: #006699;
	font-size: 0;
	height: 5px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #f5f5f5;
	margin-bottom:5px;
}
#seperator-fixed {
	position:absolute;
	top:60px; /* This is #header height+ its padding.
			because IE doesn't support min-width.. */
	margin: 0;
	padding: 0;
	max-width: 800px;
	background-color: #006699;
	font-size: 0;
	height: 5px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #f5f5f5;
}
div.content {
	text-align: left;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	max-width: 750px;
	background-color: #fff;
	border: 1px solid #aaa;
	padding: 15px 24px;	
}
div.content-bare {
	text-align: left;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 798px; /* 800-2x1px border*/
}
div.content-notice {
	text-align: left;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	max-width: 768px;
	background-color: #fff;
	border: 1px solid #aaa;
	padding: 8px 15px;	
	
}
div.content-board-header, div.content-home-header {
	margin-top:6px;
	border-bottom:0;
	}
div.content-board-header {
	border: 1px solid #aaa;
	background-color:#f5f5f5;
	border-bottom:0;
	}
div.content-follow-on {
	margin-top:0 !important;
	border-top:0 !important;
	}
div.content-home-header {
}
div.content-home-updates {
	
}
.content-slotBottom {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	padding:0;
	max-width: 750px;
	padding-left: 24px;
	padding-right: 24px;
	border: 1px solid #aaa;
	}
.content-slot {
	border-top:0;
	margin-top:0;
	}
#content-publicforum {
	max-width: 710px;
	height: auto;
	margin-left:auto;
	margin-right:auto;
}
div.forum {
	max-width: 710px;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}
#footer {
	margin-top: 5px;
	font-size: 11px;
	text-align: center;
	color: #777;
}
#chatboxtabs {
	font-size: 14px !important;
	}
div.gamelistings-tabs {
	width: auto;
	padding-top:3px;
	padding-bottom:3px;
	/*padding-left:20px;
	padding-right:20px;*/
	height:auto;
	margin:0;
	margin-left:auto;
	margin-right:auto;
	border:0;
	text-align:center;
	font-size: 13px;
	border-bottom:1px solid #aaa;
	
}
div.gamelistings-tabs a.current {
	text-decoration:none;
	background-color: #eaeaea;
	color:#000;
	border-top:1px solid #888;
	border-left:1px solid #888;
	border-right:1px solid #888;
	border-bottom:2px solid #000 ! important;
}
div.gamelistings-tabs a.current:hover {
	text-decoration:none;
	background-color: #e5e5e5;
	border-bottom:2px solid #009902 ! important;
	color:#009902 !important;
}
div.gamelistings-tabs a {
	white-space: nowrap;
	text-decoration:none;
	margin:0;
	margin-left:5px;
	margin-right:5px;
	padding-right:6px;
	padding-left:6px;
	padding-top:3px;
	padding-bottom:3px;
	border:0;
	background-color: #fafafa;	
	border-top:1px solid #aaa;
	border-left:1px solid #aaa;
	border-right:1px solid #aaa;
	
	border-bottom:2px solid #006699 ! important;
}
div#chatboxtabs a {
	margin-left:2px;
	margin-right:2px;
	padding-right:4px;
	padding-left:4px;
	padding-top:3px;
	padding-bottom:3px;
}
div.gamelistings-tabs a
div.gamelistings-tabs a:hover {
	text-decoration:none;
	background-color: #f5f5f5;
	border-bottom:2px solid #009902 ! important;
	border-top:1px solid #009902 ! important;
	border-left:1px solid #009902 ! important;
	border-right:1px solid #009902 ! important;
}
.postbox {
	text-align:center;
}
.thread {
	width: auto;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	color: #666;
	padding:5px 10px;
}
.threadborder1 {
	border: 1px solid #d1d1d1;
	/* border color is background color subtract #393939 */
}
.threadborder2 {
	border: 1px solid #cecece;
}
.threadalternate1 {
	background-color:#f5f5f5;
}
.threadalternate2 {
	background-color:#f0f0f0;
}
.replyborder1 {
	border: 1px solid #c1c1c1;
	border-top:0;
}
.replyborder1 .first {
	border-top: 1px solid #c1c1c1;
}
.replyborder2 {
	border: 1px solid #bebebe;
	border-top:0;
}
.replyalternate1 {
	background-color:#eaeaea;
}
.replyalternate2 {
	background-color:#e5e5e5;
}
.message-head {
	font-size:13px;
	float:right;
	text-align:right;
	padding-left:5px;
	margin-left:5px;
}
.leftRule {
	border-left: 1px solid #aaa;
}
.bottomRule {
}
.message-subject {
	font-size:15px;
	color: #009902;
	overflow:hidden;
}
.message-body {
	color: #000;
	margin:5px;
	margin-left:10px;
	margin-right:10px;
	font-size:15px;
	word-wrap: break-word;
}
.message-foot-notification {
	font-size:14px;
	float:right;
	text-align:right;
}
.message-foot {
}


form {
	margin:0;
}

.reply {
	max-width: 630px;
	margin-left: auto;
	margin-right: auto;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	font-size:15px;
	padding-bottom:10px;
}
.reply-top {
	border-top:1px solid #c1c1c1;
	margin-top:5px;
}
.content-game {
	margin-left:10px;
}
.Global {
	color: #CE7800 ! important;
}
.Austria {
	color: #D62929 ! important;
}
.Germany {
	color: #8B481A ! important;
}
.England {
	color: #DD51BD ! important;
}
.Italy {
	color: #259901 ! important;
}
.France {
	color: #007BA5 ! important;
}
.Turkey {
	color: #b8ad00 ! important;
}
.Russia {
	color: #6F005D ! important;
}
div.chatbox {
	max-height: 180px;
	overflow-x:hidden;
	overflow-y:auto;
	border-left: solid #c1c1c1 1px;
	border-right: solid #c1c1c1 1px;
	border-bottom: solid #c1c1c1 1px;
}
div.chatbox td {
	overflow:hidden;
}
div.chatboxnotabs {
	border-top:1px solid #aaa;
	}
.chatboxMembersList {
	font-size:12px;
	text-align:center;
	}
TABLE {
	border-collapse: collapse;
	width:100%;
}
div.datc table {
	border: solid #aaa 1px;
}
div.datc th, .datc td {
	border-right: solid #aaa 1px;
}
div.datc th {
	border-top: solid #aaa 1px;
	text-align:center;
	text-decoration:underline;
	border-bottom: solid #aaa 1px;
	padding: 3px 5px;
	font-size:16px;
}
TABLE.credits {
	border: solid #aaa 1px;
	width:85%;
	margin-left:auto;
	margin-right:auto;
}
TABLE.orders {
	border: solid #c1c1c1 1px;
	width:95%;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	font-size:13px;
}
TD {
	padding:5px;
}
TD.left {
	text-align:right;
	font-size:13px;
	font-weight:bold;
	width:15%;
}
td.notice {
	font-weight:bold;
	text-align:center;
	}
td.send {
	vertical-align:middle;
	width:14% ! important;
	}
TD.time {
	vertical-align:bottom;
	width:14% ! important;
	border-right: solid #aaa 1px;
}
TR.header {
	border-bottom: solid #aaa 1px;
}
TD.uniticon {
	width:6%;
	text-align:right;
}
TD.center {
	text-align:center;
}
TD.fleet, div.fleet {
	color:#0b0b87;
}
TD.army, div.army {
	color:#34870b;
}

/* Section for FAQ styling */
.faq {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	/* font-size: 14px; */
}

 .faq_question {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	border-radius: 7px;
	margin-top: 3px;
	font-size: 14px;
}

  .faq_question:hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #555;
  }

  .faq_answer {
		padding: 0;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		display: none;
		overflow: hidden;
		background-color: #f1f1f1;
		margin-top: 0px !important;
		font-size: 14px;
		border-radius: 7px;
		padding: 0 0 0 10px;
  } 
/* End of section for FAQ styling */

/* Section for Hall of Fame styling */
.hof {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

.hof td, .hof th {
	border: 1px solid #ddd;
	padding: 6px;
}

.hof tr:nth-child(even){background-color: #f2f2f2; word-break: break-word;}
.hof tr:nth-child(odd){background-color: #ffffff; word-break: break-word;}

.hof th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #009902;
	color: white;
	min-width:70px;
}

/* End of section for Hall of Fame styling */

/* Section for credits page styling */
.credits {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.credits-title {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 10px;
	border: none;
	text-align: left;
	outline: none;
	border-radius: 7px;
	margin-top: 3px;
	font-size: 14px;
}

.credits-info {
	border-radius: 7px;
	padding: 10px;
	overflow: hidden;
	background-color: #f1f1f1;
	font-size: 14px;
	margin: 0 0 15px 0 !important;
}

#credits-player-map-a, #credits-player-map-a:active {
	color: rgb(84, 228, 238);
	cursor: pointer;
}
/* end of credits page styling */

/* Section for Rules styling */
.helpPage em {
	text-decoration:underline;
	font-style:normal;
}
.helpPage h3 {
	margin-left: 0px !important;
}
.helpPage ul {
	color:#666;
}
.helpPage ol {
	color:#666;
}

.rules {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	/* font-size: 14px; */
}
.rules h3{
	margin-left: 0px !important;
}

 .rules_title {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 10px;
	border: none;
	text-align: left;
	outline: none;
	border-radius: 7px;
	margin-top: 3px;
	font-size: 14px;
}

  .rules_title:hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #555;
  }

  .rules_content {
		padding: 0;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		display: none;
		overflow: hidden;
		padding: 0 0 0 10px;
		background-color: #f1f1f1;
		font-size: 14px;
		margin-top:0px !important; 
		border-radius: 7px;
	} 
	
	.rules_content_show {
		border-radius: 7px;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		overflow: hidden;
		background-color: #f1f1f1;
		font-size: 14px;
		padding: 0 0 0 10px;
		margin-top:0px !important; 
  } 
/* End of section for Rules styling */

/* This section is for the new AdminCP and Mod tools */
.modTools {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

input[type="text"].modTools, input[type="password"].modTools, textarea.modTools, select.modTools {
	font-size: 14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #ffffff !important;
	border: 1px solid #c1c1c1;
	color:#000000;
}
  
.modTools td, .modTools th {
	border: 1px solid #ddd;
	padding: 6px;
}

.modTools tr:nth-child(even){background-color: #f2f2f2; word-break: break-word;}
.modTools tr:nth-child(odd){background-color: #ffffff; word-break: break-word;}

.modTools th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #009902;
	color: white;
	min-width:70px;
}

.modToolsCP {
	border-radius: 25px;
	background: rgb(222, 224, 222);
	padding: 8px; 
}

.modToolsHeadings {
    color: #000000 !important;
	margin-bottom: 5px;
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

li.modToolsformlistfield {
	list-style: none;
	margin: 10px 0 0 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

li.modToolsformlistdesc {
	font-weight: normal;
	color: #000000b2 !important;
	list-style: none;
	margin-left:20px;
	margin-right:20px;
	border-left: 1px solid #aaa;
	padding-left: 10px;
	margin-bottom: 30px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
li.modToolsformlisttitle {
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.modToolsform-submit {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #fff !important;
	text-transform: uppercase;
	background: #60a3bc !important;
	padding: 5px;
	border-radius: 50px;
	display: inline-block;
	border: none;
}
.modToolsform-submit:hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	transition: all 0.4s ease 0s;
}

.modToolsCollapsible {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
  }

  .active, .modToolsCollapsible:hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #555;
  }

  .modToolsContent {
	padding: 0 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
  }

.topnav {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	overflow: hidden;
	background-color: #333;
  }

ul.modTools {
	padding: 0;
	margin-bottom: 40px;
	list-style: none;
}

.modToolsCP {
	padding: 15px;
}
  
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 14px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
  
.topnav a:hover {
	background-color: #ddd;
	color: black;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.topnavActive {
	background-color: #4CAF50;
	color: white;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.topnavActive a {
	background-color: #4CAF50;
	color: white;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/* Mod Tools section ends here */

/* This section is for the new advanced search page. */
  .SearchCollapsible {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	border-radius: 7px;
  }

  .active, .SearchCollapsible:hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #555;
}

  .advancedSearch {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	font-size: 12px;
}

input[type="text"].advancedSearch, input[type="password"].advancedSearch, textarea.advancedSearch, select.advancedSearch {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #ffffff !important;
	border: 1px solid #c1c1c1;
	color:#000000;
}
  
.advancedSearch td, .advancedSearch th {
	border: 1px solid #ddd;
	padding: 6px;
}

.advancedSearch tr:nth-child(even){background-color: #f2f2f2; word-break: break-word;}
.advancedSearch tr:nth-child(odd){background-color: #ffffff; word-break: break-word;}

.advancedSearch th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #009902;
	color: white;
	min-width:35px;
}

.advancedSearchform-submit {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #fff !important;
	text-transform: uppercase;
	background: #60a3bc !important;
	padding: 5px;
	border-radius: 50px;
	display: inline-block;
	border: none;
}
.advancedSearchform-submit:hover {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	transition: all 0.4s ease 0s;
}

  .advancedSearchContent {
	padding: 0 10px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
  }

ul.advancedSearch {
	padding: 0;
	margin-bottom: 40px;
	list-style: none;
}
/* advanced search page section ends */


span.orderNotice {
	font-weight:bold;
}
.likeMessageToggleLink, .likeCount {
	font-size:8pt;
	font-style:italic;
}

tr[class^="replyalternate"]{
	word-wrap: break-word;
}
#chatboxscroll > TABLE.chatbox{
	table-layout: fixed;
}
input[id^="UpdateButton"]{
	margin-top: 10px;
	width: auto !important;
}
input[id^="FinalizeButton"]{
	margin-top: 10px;
	width: auto !important;
}
.archive-messages-table{
	table-layout: fixed;
}
@media only screen and (max-width: 500px){
	#logo{
		position: relative;
		width: 60%;
		display: block;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 800px) and (min-width: 500px){
	#logo{
		position: relative;
		width: 40%;
		display: block;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 800px) {
	body {
		font-size: 16px;
		padding: 10px;
	}
	span.logon {
		font-size:14px;
	}
	#header-container {
		height: auto;
		padding: 10px;
		margin: -10px -10px 0;
	}
	#header-welcome{
		margin-top: 15px;
		text-align: center;
	}
	#header-welcome a:first-child {
		word-wrap: break-word;
	}
	#header-goto {
		margin-top: 10px;
		text-align: center;
		clear: inherit;
	}
	#header-goto a{
		display: inline-block;
		margin-top: 5px;
	}
	#seperator{
		margin: 0 -10px;
	}
	#seperator-fixed{
		display: none;
	}
	div.content{
		padding: 15px 10px;
	}
	img {
		max-width: 100%;
		height: auto;
	}
	div.gamelistings-tabs {
		font-size: 16px;
	}
	div.gamelistings-tabs a{
		display: block;
		margin-top: 10px;
	}
	ul.formlist{
		margin: 0;
	}
	input[type="text"], input[type="submit"], input[type="password"], textarea, select{
		font-size: 16px;
		width: 100%;
	}
	textarea{
		resize: vertical;
	}
	.message-subject{
		text-align: center;
	}
	.message-head{
		text-align: center;
		float: none;
	}
	.reply > .message-head{
		text-align: right;
		float: right;
		word-wrap: break-word;
		max-width: 100%;
	}
	.thread > .message-subject{
		text-align: inherit;
	}
	.thread > .message-head{
		text-align: right;
		float: right;
		word-wrap: break-word;
		max-width: 100%;
	}
	div.hr, div.hrthin {
		width:100%;
	}
	TD.uniticon {
		width:15%;
		text-align:right;
	}
	TD.time {
		width:20% !important;
	}
	#chatboxtabs {
		font-size: 16px !important;
		padding-bottom: 10px;
	}
	.message-contents{
		word-wrap: break-word;
	}
	.top-nav {
		justify-content: left;
	}
	h1, h2, h3, h4 {
		color: #009902;
		margin-bottom:5px;
		word-wrap: break-word;
	}
	a {
		font-weight: bold;
		text-decoration:underline;
		word-wrap: break-word;
	}
}