.homeNoticesPMs {
	width:60%;
}
.homeNoticesGame {
	width:auto;
	margin-left:5px;
}

.homeInfoList {
	float:right;
	text-align:right;
	font-size:14px;
	font-style:italic;	
	background-color:#fff;
	padding-left:10px;
	padding-bottom:15px;
	border-left:1px solid #c1c1c1;
	}
.homeInfoList h4 {
	font-size:14px;
	font-style:normal;
	margin:0;
	margin-bottom:5px;
	}
.homeInfoList strong {
	font-style:normal;
	}
a.current {
	color:black !important;
	}
div.homeUserContent {
	margin-top:15px;
	
}

table.homeTable p.notice{
	padding:5px;
}

.homeTable div.hr {
	margin-top:4px;
	margin-bottom:4px;
}
table.homeTable {
}
table.homeTable td, table.homeTable a {
	overflow:hidden;
}
table.homeTable tr {
	vertical-align:top;
}

td.homeNoticesPMs textarea, td.homeNoticesGame textarea {
	font-size:14px !important;
}

td.homeMessages, td.homeGameNotices, td.homeGamesStats, td.homeNoticesPMs, td.homeNoticesGame {
	border:1px solid #aaa;
	background-color: #fff;
	padding:0 !important;
	margin:0;
	}

table.homeTable td.homeSplit {
	border:0 !important;
	}
	
td.homeMessages {
	width:250px;
	max-width:250px;
	/*width:30%;*/
}

td.homeGameNotices {
	width:250px;
	max-width:250px;
	/*width:30%;*/
}

td.homeGamesStats {
	width:284px; /* 800px = 250+250+(300-6[borders]-10[table dividers])*/
	/*width:auto;*/
}



td.homeSplit {
	width:5px;
	border:0;
	padding:0;
	margin:0;
	}

div.homeHeader {
	text-align:center;
	font-weight:bold;
	font-size:16px;
	text-align: center;
	color: #009902;
	padding-top: 3px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}


.homeForumGroup {
	font-size:12px;
	}
.homeForumSubject, .homeForumLink {
	
	padding:4px 2%;
	}
.homeForumTopBorder {
	/* border-top: 1px solid #cecece; */
}
.homeForumSubject {
	color: #009902;
	/*overflow:hidden;*/
	font-weight:bold;
	/* white-space: nowrap; */
}
td.homeGameNotices .homeForumSubject {
	width:250px;
}
.homeForumAlt1 {
	/* background-color:#f5f5f5; */
	/* border-bottom: 1px solid #d1d1d1; */
}
.homeForumAlt2 {
	/* background-color:#f0f0f0; */
	/* border-bottom: 1px solid #cecece; */
}
 
.homeForumPost {
	padding:4px 2%;
	
}
.homeForumPostAlt1 {
	/* background-color:#eaeaea; */
}
.homeForumPostAlt2 {
	/* background-color:#e5e5e5; */
}
.homeForumPostTime {
	float:right;
	text-align:right;
	color: #666;
	font-style:italic;
	padding-left:3px;
	text-decoration:underline;
	border-left:1px solid #aaa;
	/*border-bottom:1px solid #aaa;*/
}
 
.homeForumLink {
}
.homeForumReplies {
	float:right;
	text-align:right;
	color: #666;
	font-style:italic;
}

.homeNoActivity {
	
}
.homeForumReplies {
	text-align:center;
}
.homeForumMessage {
	color: #39383A;
	/*color:#666;*/
}

@media only screen and (max-width: 800px) {
	table.homeTable {
		table-layout: fixed;
	}
	table.homeTable td {
		display: block;
	}
	table.homeTable tr {
		display: flex;
		flex-direction: column;
	}
	table.homeTable .homeMessages{
		order: 3;
	}
	table.homeTable .homeGameNotices{
		order: 2;
	}
	table.homeTable .homeGamesStats{
		order: 1;
	}

	td.homeMessages {
		width:100%;
		max-width: 100%;
	}

	td.homeGameNotices {
		width:100%;
		max-width: 100%;
		margin-top: 5px;
	}

	td.homeGamesStats {
		width:100%;
		max-width: 100%;
		margin-top: 5px;
	}
	.homeForumGroup {
		font-size:16px;
	}

}