@CHARSET "ISO-8859-1";

.variantCoperial .country0 { color: #CE7800 ! important; }  /* Global    */
.variantCoperial .country1 { color: #FF9999 ! important; }  /* Britain  */
.variantCoperial .country2 { color: #3366FF ! important; }  /* France  */
.variantCoperial .country3 { color: #666666 ! important; }  /* Germany  */
.variantCoperial .country4 { color: #82B337 ! important; }  /* Italy  */
.variantCoperial .country5 { color: #660000 ! important; }  /* Austria  */
.variantCoperial .country6 { color: #FF9900 ! important; }  /* Holland  */
.variantCoperial .country7 { color: #CC3333 ! important; }  /* Russia  */
.variantCoperial .country8 { color: #B0B030 ! important; }  /* Turkey  */
.variantCoperial .country9 { color: #660099 ! important; }  /* China  */
.variantCoperial .country10 { color: #339900 ! important; } /* Japan */

.variantCoperial .occupationBar1 { background-color: #FF9999; }  /* Britain  */
.variantCoperial .occupationBar2 { background-color: #3366FF; }  /* France  */
.variantCoperial .occupationBar3 { background-color: #666666; }  /* Germany  */
.variantCoperial .occupationBar4 { background-color: #82B337; }  /* Italy  */
.variantCoperial .occupationBar5 { background-color: #660000; }  /* Austria  */
.variantCoperial .occupationBar6 { background-color: #FF9900; }  /* Holland  */
.variantCoperial .occupationBar7 { background-color: #CC3333; }  /* Russia  */
.variantCoperial .occupationBar8 { background-color: #B0B030; }  /* Turkey  */
.variantCoperial .occupationBar9 { background-color: #660099; }  /* China  */
.variantCoperial .occupationBar10 { background-color: #339900; } /* Japan */