@CHARSET "ISO-8859-1";

/*
All variant HTML will be stored within an element with a classname variant[variantName]. Using this all variant CSS 
can be loaded at the same time, and will apply itself appropriately. 

This is convenient and efficient, but does make it one of the only things that can't be inherited. Each variant 
needs to define these CSS values even if they're the same as another variant using the same map.

Occupation bars and country text colors need to be defined here.
*/

/* Order: ('Global'), 'England', 'France', 'Italy', 'Germany', 'Austria', 'Turkey', 'Russia' */
.variantClassic .country0 {
	color: rgba(255, 255, 255, 0.8) ! important;
}
.variantClassic .country1 {
	color: rgb(243, 198, 232) ! important;
}
.variantClassic .country2 {
	color: rgb(117, 165, 255) ! important;
}
.variantClassic .country3 {
	color: rgb(50, 168, 109) ! important;
}
.variantClassic .country4 {
	color: rgb(202, 172, 133) ! important;
}
.variantClassic .country5 {
	color: rgb(232, 107, 107) ! important;
}
.variantClassic .country6 {
	color: rgb(212, 214, 79) ! important;
}
.variantClassic .country7 {
	color: rgb(195, 140, 215) ! important;
}

.variantClassic .occupationBar1 {
	background-color: rgb(243, 198, 232);
}
.variantClassic .occupationBar2 {
	background-color: rgb(117, 165, 255);
}
.variantClassic .occupationBar3 {
	background-color: rgb(50, 168, 109);
}
.variantClassic .occupationBar4 {
	background-color: rgb(202, 172, 133);
}
.variantClassic .occupationBar5 {
	background-color: rgb(232, 107, 107);
}
.variantClassic .occupationBar6 {
	background-color: rgb(212, 214, 79);
}
.variantClassic .occupationBar7 {
	background-color: rgb(195, 140, 215);
}