@CHARSET "ISO-8859-1";

.variantAncMed .country0 { color: rgba(255, 255, 255, 0.8) ! important; } /* Global   */
.variantAncMed .country1 { color: rgb(102, 176, 201) ! important; } /* Carthage */
.variantAncMed .country2 { color: rgb(234, 235, 168) ! important; } /* Egypt    */
.variantAncMed .country3 { color: rgb(150, 193, 144) ! important; } /* Greece   */
.variantAncMed .country4 { color: rgb(210, 66, 167) ! important; } /* Persia   */
.variantAncMed .country5 { color: rgb(232, 107, 107) ! important; } /* Rome     */

.variantAncMed .occupationBar1 { background-color: #79AFC6; } /* Carthage */
.variantAncMed .occupationBar2 { background-color: #EAEAAF; } /* Egypt    */
.variantAncMed .occupationBar3 { background-color: #A4C499; } /* Greece   */
.variantAncMed .occupationBar4 { background-color: #A87E9F; } /* Persia   */
.variantAncMed .occupationBar5 { background-color: #C48F85; } /* Rome     */
