@CHARSET "ISO-8859-1";

.variantSailHo2 .country0 { color: #CE7800 ! important; } /* Global */
.variantSailHo2 .country1 { color: #259901 ! important; } /* East   */
.variantSailHo2 .country2 { color: #DD51BD ! important; } /* North  */
.variantSailHo2 .country3 { color: #007BA5 ! important; } /* South  */
.variantSailHo2 .country4 { color: #b8ad00 ! important; } /* West   */

.variantSailHo2 .occupationBar1 { background-color: #A4C499; } /* East  */
.variantSailHo2 .occupationBar2 { background-color: #EFC4E4; } /* North */
.variantSailHo2 .occupationBar3 { background-color: #79AFC6; } /* South */
.variantSailHo2 .occupationBar4 { background-color: #EAEAAF; } /* West  */
