@CHARSET "ISO-8859-1";

.variantAncMed .country0 { color: rgba(255, 255, 255, 0.8) ! important; } /* Global   */
.variantAncMed .country1 { color: rgb(102, 176, 201) ! important; } /* Carthage */
.variantAncMed .country2 { color: rgb(234, 235, 168) ! important; } /* Egypt    */
.variantAncMed .country3 { color: rgb(150, 193, 144) ! important; } /* Greece   */
.variantAncMed .country4 { color: rgb(195, 140, 215) ! important; } /* Persia   */
.variantAncMed .country5 { color: rgb(232, 107, 107) ! important; } /* Rome     */

.variantAncMed .occupationBar1 { background-color: rgb(102, 176, 201); } /* Carthage */
.variantAncMed .occupationBar2 { background-color: rgb(234, 235, 168); } /* Egypt    */
.variantAncMed .occupationBar3 { background-color: rgb(150, 193, 144); } /* Greece   */
.variantAncMed .occupationBar4 { background-color: rgb(195, 140, 215); } /* Persia   */
.variantAncMed .occupationBar5 { background-color: rgb(232, 107, 107); } /* Rome     */
