[alias]
    toprod = "!f() { git checkout master && git pull origin master && git checkout production && git merge --ff-only master && git push origin production && git checkout master; }; f"
    tostage = "!f() { git checkout master && git pull origin master && git checkout staging && git merge --ff-only master && git push origin staging && git checkout master; }; f"