config.php
errorlog/
errorlogs/
orderlog/
orderlogs/
*.zip
*.gz
*.tgz
*.tbz
*.bz2
*.7z
/cache/
/mapstore/
/doc/phpDoc/
pointslog.txt
pointlog.txt
/.settings/
/.buildpath
/.project
/.idea
/datc/maps/
!.htaccess
variants/*/cache/
variants/KnownWorld_901/
ghostRatingData.*
gr.php
adminInfo.php
tmp/
apilog.txt
git*
/vendor/
