config.php
config_lab.php
config_local.php
config_vdip.php
errorlog/
errorlogs/
orderlog/
orderlogs/
*.zip
*.gz
*.tgz
*.tbz
*.bz2
/variants/*/cache/data.php
/variants/*/cache/sampleMap.png
/variants/*/cache/sampleMap-thumbnail.png
/variants/*/cache/territories.js
/mapstore/
/doc/phpDoc/
pointslog.txt
pointlog.txt
/.settings/
/.buildpath
/.project
/datc/maps/
!.htaccess

