###############################################################################
#                          Generated on phpdocker.io                          #
#
# Generic instructions: docker-compose up -d
#
# webDiplomacy instructions:
# Copy config.sample.php to config.php
# Run install/FullInstall/FullInstall.sql
# Register user account, use https://localhost:43000 to access registration mail
# Go to https://localhost:43000/gamemaster.php?gameMasterSecret= to set self as admin
# Go to https://localhost:43000/admincp.php and enable maintenance mode
# Go to https://localhost:43000/datc.php and run batch test
# Go to https://localhost:43000/admincp.php and disable maintenance mode
# Server is ready for dev work
#
###############################################################################
version: '3.1'
services:
  memcached:
    image: 'memcached:alpine'
    ports:
      - '11211:11211'

  mailhog:
    image: 'mailhog/mailhog:latest'
    ports:
      - '43001:8025'

  mariadb:
    image: 'mariadb:10.6'
    working_dir: /application
    volumes:
      - './:/application'
    environment:
      - MYSQL_ROOT_PASSWORD=mypassword123
      - MYSQL_DATABASE=webdiplomacy
      - MYSQL_USER=webdiplomacy
      - MYSQL_PASSWORD=mypassword123
    ports:
      - '43003:3306'

  clickhouse:
    image: 'yandex/clickhouse-server:latest'

  webserver:
    image: 'nginx:alpine'
    working_dir: /application
    volumes:
      - './:/application'
      - './phpdocker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf'
    ports:
      - '${WEBDIP_PORT:-43000}:80'

  beta:
    image: 'node:16.15.1-alpine3.14'
    container_name: webdiplomacy-beta
    working_dir: /application
    volumes:
      - './beta-src:/application'
    ports:
      - '3000'
    command: >
      sh -c "npm install &&
             npm run start"
  
  # Since we already downloaded the mariadb:10.6 image, we can re-use it to 
  # create the DB if it wasn't created and run the cron
  gamemaster-cron:
    image: 'mariadb:10.6'
    working_dir: /application
    volumes:
      - './:/application'
    depends_on:
      - webserver
      - mariadb
    links:
      - webserver
      - mariadb
    command: /bin/sh -c "install/gamemaster-entrypoint.sh"

  php-fpm:
    build: phpdocker/php-fpm
    working_dir: /application
    volumes:
      - './:/application'
      - './phpdocker/php-fpm/php-ini-overrides.ini:/etc/php/7.4/fpm/conf.d/99-overrides.ini'
    command:
      - /bin/sh
      - -c
      - |
        if [ ! -f config.php ]; then
          cp config.sample.php config.php
        fi
        /usr/sbin/php-fpm7.4 -O
