@CHARSET "ISO-8859-1";

.variantColonial .country0 { color: #CE7800 ! important; } /* Global  */
.variantColonial .country1 { color: #DD51BD ! important; } /* Britain */
.variantColonial .country2 { color: #D62929 ! important; } /* China   */
.variantColonial .country3 { color: #007BA5 ! important; } /* France  */
.variantColonial .country4 { color: #8B481A ! important; } /* Holland */
.variantColonial .country5 { color: #259901 ! important; } /* Japan   */
.variantColonial .country6 { color: #6F005D ! important; } /* Russia  */
.variantColonial .country7 { color: #b8ad00 ! important; } /* Turkey  */

.variantColonial .occupationBar1 { background-color: #EFC4E4; } /* Britain */
.variantColonial .occupationBar2 { background-color: #C48F85; } /* China   */
.variantColonial .occupationBar3 { background-color: #79AFC6; } /* France  */
.variantColonial .occupationBar4 { background-color: #A08A75; } /* Holland */
.variantColonial .occupationBar5 { background-color: #A4C499; } /* Japan   */
.variantColonial .occupationBar6 { background-color: #A87E9F; } /* Russia  */
.variantColonial .occupationBar7 { background-color: #EAEAAF; } /* Turkey  */

