@CHARSET "ISO-8859-1";

.variantClassicGvI .country0 { color: #CE7800 ! important; } /* Global */
.variantClassicGvI .country1 { color: #8B481A ! important; } /* Germany */
.variantClassicGvI .country2 { color: #259901 ! important; } /* Italy */

.variantClassicGvI .occupationBar1 { background-color: #A08A75; } /* Germany */
.variantClassicGvI .occupationBar2 { background-color: #A4C499; } /* Italy */
