@CHARSET "ISO-8859-1";

.variantFranceVsAustria .country0 { color: #CE7800 ! important; } /* Global */
.variantFranceVsAustria .country1 { color: #007BA5 ! important; } /* France */
.variantFranceVsAustria .country2 { color: #D62929 ! important; } /* Austria */

.variantFranceVsAustria .occupationBar1 { background-color: #79AFC6; } /* France */
.variantFranceVsAustria .occupationBar2 { background-color: #C48F85; } /* Austria */
