@CHARSET "ISO-8859-1";
	
.variantKnownWorld_901 .country0 { color: #b86b00 ! important; } /* Global  */
.variantKnownWorld_901 .country1 { color: #c4a1bb ! important; } /* Arabia */
.variantKnownWorld_901 .country2 { color: #628ea1 ! important; } /* Axum  */
.variantKnownWorld_901 .country3 { color: #768e6e ! important; } /* Byzantium   */
.variantKnownWorld_901 .country4 { color: #897664 ! important; } /* China */
.variantKnownWorld_901 .country5 { color: #a1756d ! important; } /* Denmark */
.variantKnownWorld_901 .country6 { color: #bebe8e ! important; } /* Egypt  */
.variantKnownWorld_901 .country7 { color: #8c6984 ! important; } /* France  */
.variantKnownWorld_901 .country8 { color: #315261 ! important; } /* Germany  */
.variantKnownWorld_901 .country9 { color: #a77c53 ! important; } /* Khazaria */
.variantKnownWorld_901 .country10 { color: #5a580b ! important; } /* Russia */
.variantKnownWorld_901 .country11 { color: #556d4d ! important; } /* Spain */
.variantKnownWorld_901 .country12 { color: #5a5a5a ! important; } /* Turan  */
.variantKnownWorld_901 .country13 { color: #789f18 ! important; } /* Srivijaya  */
.variantKnownWorld_901 .country14 { color: #086061 ! important; } /* Wagadu  */
.variantKnownWorld_901 .country15 { color: #b44a4a ! important; } /* India  */

.variantKnownWorld_901 .occupationBar1 { background-color: #efc4e4; } /* Arabia */
.variantKnownWorld_901 .occupationBar2 { background-color: #79AFC6; } /* Axum  */
.variantKnownWorld_901 .occupationBar3 { background-color: #a4c499; } /* Byzantium   */
.variantKnownWorld_901 .occupationBar4 { background-color: #a08a75; } /* China */
.variantKnownWorld_901 .occupationBar5 { background-color: #c48f85; } /* Denmark */
.variantKnownWorld_901 .occupationBar6 { background-color: #eaeaaf; } /* Egypt  */
.variantKnownWorld_901 .occupationBar7 { background-color: #a87e9f; } /* France  */
.variantKnownWorld_901 .occupationBar8 { background-color: #406c80; } /* Germany  */
.variantKnownWorld_901 .occupationBar9 { background-color: #ce9967; } /* Khazaria */
.variantKnownWorld_901 .occupationBar10 { background-color: #73710e; } /* Russia */
.variantKnownWorld_901 .occupationBar11 { background-color: #729267; } /* Spain */
.variantKnownWorld_901 .occupationBar12 { background-color: #787878; } /* Turan  */
.variantKnownWorld_901 .occupationBar13 { background-color: #8cba1c; } /* Srivijaya  */
.variantKnownWorld_901 .occupationBar14 { background-color: #0a7a7c; } /* Wagadu  */
.variantKnownWorld_901 .occupationBar15 { background-color: #de5b5b; } /* India  */


