@CHARSET "ISO-8859-1";
	
.variantModern2 .country0 { color: #CE7800 ! important; }  /* Global  */
.variantModern2 .country1 { color: #DD51BD ! important; }  /* Britain */
.variantModern2 .country2 { color: #1a6600 ! important; }  /* Egypt   */
.variantModern2 .country3 { color: #007BA5 ! important; }  /* France  */
.variantModern2 .country4 { color: #8B481A ! important; }  /* Germany */
.variantModern2 .country5 { color: #259901 ! important; }  /* Italy   */
.variantModern2 .country6 { color: #D62929 ! important; }  /* Poland  */
.variantModern2 .country7 { color: #6F005D ! important; }  /* Russia  */
.variantModern2 .country8 { color: #b05500 ! important; }  /* Spain   */
.variantModern2 .country9 { color: #b8ad00 ! important; }  /* Turkey  */
.variantModern2 .country10 { color: #514f4f ! important; } /* Ukraine */

.variantModern2 .occupationBar1 { background-color: #EFC4E4; }  /* Britain */
.variantModern2 .occupationBar2 { background-color: #729267; }  /* Egypt   */
.variantModern2 .occupationBar3 { background-color: #79AFC6; }  /* France  */
.variantModern2 .occupationBar4 { background-color: #A08A75; }  /* Germany */
.variantModern2 .occupationBar5 { background-color: #A4C499; }  /* Italy   */
.variantModern2 .occupationBar6 { background-color: #C48F85; }  /* Poland  */
.variantModern2 .occupationBar7 { background-color: #A87E9F; }  /* Russia  */
.variantModern2 .occupationBar8 { background-color: #ce9967; }  /* Spain   */
.variantModern2 .occupationBar9 { background-color: #EAEAAF; }  /* Turkey  */
.variantModern2 .occupationBar10 { background-color: #6a6868; } /* Ukraine */
