@CHARSET "ISO-8859-1";
	
.variantChaos .country0 { color: #CE7800 ! important; }  /* Global         */
.variantChaos .country1 { color: #5D8AA8 ! important; }  /* Ankara         */
.variantChaos .country2 { color: #E32636 ! important; }  /* Belgium        */
.variantChaos .country3 { color: #9F2B68 ! important; }  /* Berlin         */
.variantChaos .country4 { color: #ED3CCA ! important; }  /* Brest          */
.variantChaos .country5 { color: #FFBF00 ! important; }  /* Budapest       */
.variantChaos .country6 { color: #FF7E00 ! important; }  /* Bulgaria       */
.variantChaos .country7 { color: #A4C639 ! important; }  /* Constantinople */
.variantChaos .country8 { color: #00FFFF ! important; }  /* Denmark        */
.variantChaos .country9 { color: #4B5320 ! important; }  /* Edinburgh      */
.variantChaos .country10 { color: #3B444B ! important; } /* Greece         */
.variantChaos .country11 { color: #B2BEB5 ! important; } /* Holland        */
.variantChaos .country12 { color: #87A96B ! important; } /* Kiel           */
.variantChaos .country13 { color: #FF9966 ! important; } /* Liverpool      */
.variantChaos .country14 { color: #6D351A ! important; } /* London         */
.variantChaos .country15 { color: #FDEE00 ! important; } /* Marseilles     */
.variantChaos .country16 { color: #007FFF ! important; } /* Moscow         */
.variantChaos .country17 { color: #89CFF0 ! important; } /* Munich         */
.variantChaos .country18 { color: #FE6F5E ! important; } /* Naples         */
.variantChaos .country19 { color: #0000FF ! important; } /* Norway         */
.variantChaos .country20 { color: #8A2BE2 ! important; } /* Paris          */
.variantChaos .country21 { color: #B5A642 ! important; } /* Portugal       */
.variantChaos .country22 { color: #004225 ! important; } /* Rome           */
.variantChaos .country23 { color: #CD7F32 ! important; } /* Rumania        */
.variantChaos .country24 { color: #964B00 ! important; } /* Serbia         */
.variantChaos .country25 { color: #F0DC82 ! important; } /* Sevastopol     */
.variantChaos .country26 { color: #00CC99 ! important; } /* Smyrna         */
.variantChaos .country27 { color: #ED9121 ! important; } /* Spain          */
.variantChaos .country28 { color: #93A2D0 ! important; } /* Petersburg     */
.variantChaos .country29 { color: #ACE1AF ! important; } /* Sweden         */
.variantChaos .country30 { color: #D2691E ! important; } /* Trieste        */
.variantChaos .country31 { color: #FFB7C5 ! important; } /* Tunis          */
.variantChaos .country32 { color: #B8860B ! important; } /* Venice         */
.variantChaos .country33 { color: #FF8C00 ! important; } /* Vienna         */
.variantChaos .country34 { color: #8B008B ! important; } /* Warsaw         */

.variantChaos .occupationBar1 { background-color: #5D8AA8 ! important; }  /* Ankara         */
.variantChaos .occupationBar2 { background-color: #E32636 ! important; }  /* Belgium        */
.variantChaos .occupationBar3 { background-color: #9F2B68 ! important; }  /* Berlin         */
.variantChaos .occupationBar4 { background-color: #ED3CCA ! important; }  /* Brest          */
.variantChaos .occupationBar5 { background-color: #FFBF00 ! important; }  /* Budapest       */
.variantChaos .occupationBar6 { background-color: #FF7E00 ! important; }  /* Bulgaria       */
.variantChaos .occupationBar7 { background-color: #A4C639 ! important; }  /* Constantinople */
.variantChaos .occupationBar8 { background-color: #00FFFF ! important; }  /* Denmark        */
.variantChaos .occupationBar9 { background-color: #4B5320 ! important; }  /* Edinburgh      */
.variantChaos .occupationBar10 { background-color: #3B444B ! important; } /* Greece         */
.variantChaos .occupationBar11 { background-color: #B2BEB5 ! important; } /* Holland        */
.variantChaos .occupationBar12 { background-color: #87A96B ! important; } /* Kiel           */
.variantChaos .occupationBar13 { background-color: #FF9966 ! important; } /* Liverpool      */
.variantChaos .occupationBar14 { background-color: #6D351A ! important; } /* London         */
.variantChaos .occupationBar15 { background-color: #FDEE00 ! important; } /* Marseilles     */
.variantChaos .occupationBar16 { background-color: #007FFF ! important; } /* Moscow         */
.variantChaos .occupationBar17 { background-color: #89CFF0 ! important; } /* Munich         */
.variantChaos .occupationBar18 { background-color: #FE6F5E ! important; } /* Naples         */
.variantChaos .occupationBar19 { background-color: #0000FF ! important; } /* Norway         */
.variantChaos .occupationBar20 { background-color: #8A2BE2 ! important; } /* Paris          */
.variantChaos .occupationBar21 { background-color: #B5A642 ! important; } /* Portugal       */
.variantChaos .occupationBar22 { background-color: #004225 ! important; } /* Rome           */
.variantChaos .occupationBar23 { background-color: #CD7F32 ! important; } /* Rumania        */
.variantChaos .occupationBar24 { background-color: #964B00 ! important; } /* Serbia         */
.variantChaos .occupationBar25 { background-color: #F0DC82 ! important; } /* Sevastopol     */
.variantChaos .occupationBar26 { background-color: #00CC99 ! important; } /* Smyrna         */
.variantChaos .occupationBar27 { background-color: #ED9121 ! important; } /* Spain          */
.variantChaos .occupationBar28 { background-color: #93A2D0 ! important; } /* Petersburg     */
.variantChaos .occupationBar29 { background-color: #ACE1AF ! important; } /* Sweden         */
.variantChaos .occupationBar30 { background-color: #D2691E ! important; } /* Trieste        */
.variantChaos .occupationBar31 { background-color: #FFB7C5 ! important; } /* Tunis          */
.variantChaos .occupationBar32 { background-color: #B8860B ! important; } /* Venice         */
.variantChaos .occupationBar33 { background-color: #FF8C00 ! important; } /* Vienna         */
.variantChaos .occupationBar34 { background-color: #8B008B ! important; } /* Warsaw         */
