@CHARSET "ISO-8859-1";
	
.variantChaoctopi .country0 { color: #CE7800 ! important; }  /* Global         */
.variantChaoctopi .country1 { color: #5D8AA8 ! important; }  /* Ankara         */
.variantChaoctopi .country2 { color: #E32636 ! important; }  /* Belgium        */
.variantChaoctopi .country3 { color: #9F2B68 ! important; }  /* Berlin         */
.variantChaoctopi .country4 { color: #ED3CCA ! important; }  /* Brest          */
.variantChaoctopi .country5 { color: #FFBF00 ! important; }  /* Budapest       */
.variantChaoctopi .country6 { color: #FF7E00 ! important; }  /* Bulgaria       */
.variantChaoctopi .country7 { color: #A4C639 ! important; }  /* Constantinople */
.variantChaoctopi .country8 { color: #00FFFF ! important; }  /* Denmark        */
.variantChaoctopi .country9 { color: #4B5320 ! important; }  /* Edinburgh      */
.variantChaoctopi .country10 { color: #3B444B ! important; } /* Greece         */
.variantChaoctopi .country11 { color: #B2BEB5 ! important; } /* Holland        */
.variantChaoctopi .country12 { color: #87A96B ! important; } /* Kiel           */
.variantChaoctopi .country13 { color: #FF9966 ! important; } /* Liverpool      */
.variantChaoctopi .country14 { color: #6D351A ! important; } /* London         */
.variantChaoctopi .country15 { color: #FDEE00 ! important; } /* Marseilles     */
.variantChaoctopi .country16 { color: #007FFF ! important; } /* Moscow         */
.variantChaoctopi .country17 { color: #89CFF0 ! important; } /* Munich         */
.variantChaoctopi .country18 { color: #FE6F5E ! important; } /* Naples         */
.variantChaoctopi .country19 { color: #0000FF ! important; } /* Norway         */
.variantChaoctopi .country20 { color: #8A2BE2 ! important; } /* Paris          */
.variantChaoctopi .country21 { color: #B5A642 ! important; } /* Portugal       */
.variantChaoctopi .country22 { color: #004225 ! important; } /* Rome           */
.variantChaoctopi .country23 { color: #CD7F32 ! important; } /* Rumania        */
.variantChaoctopi .country24 { color: #964B00 ! important; } /* Serbia         */
.variantChaoctopi .country25 { color: #F0DC82 ! important; } /* Sevastopol     */
.variantChaoctopi .country26 { color: #00CC99 ! important; } /* Smyrna         */
.variantChaoctopi .country27 { color: #ED9121 ! important; } /* Spain          */
.variantChaoctopi .country28 { color: #93A2D0 ! important; } /* Petersburg     */
.variantChaoctopi .country29 { color: #ACE1AF ! important; } /* Sweden         */
.variantChaoctopi .country30 { color: #D2691E ! important; } /* Trieste        */
.variantChaoctopi .country31 { color: #FFB7C5 ! important; } /* Tunis          */
.variantChaoctopi .country32 { color: #B8860B ! important; } /* Venice         */
.variantChaoctopi .country33 { color: #FF8C00 ! important; } /* Vienna         */
.variantChaoctopi .country34 { color: #8B008B ! important; } /* Warsaw         */

.variantChaoctopi .occupationBar1 { background-color: #5D8AA8 ! important; }  /* Ankara         */
.variantChaoctopi .occupationBar2 { background-color: #E32636 ! important; }  /* Belgium        */
.variantChaoctopi .occupationBar3 { background-color: #9F2B68 ! important; }  /* Berlin         */
.variantChaoctopi .occupationBar4 { background-color: #ED3CCA ! important; }  /* Brest          */
.variantChaoctopi .occupationBar5 { background-color: #FFBF00 ! important; }  /* Budapest       */
.variantChaoctopi .occupationBar6 { background-color: #FF7E00 ! important; }  /* Bulgaria       */
.variantChaoctopi .occupationBar7 { background-color: #A4C639 ! important; }  /* Constantinople */
.variantChaoctopi .occupationBar8 { background-color: #00FFFF ! important; }  /* Denmark        */
.variantChaoctopi .occupationBar9 { background-color: #4B5320 ! important; }  /* Edinburgh      */
.variantChaoctopi .occupationBar10 { background-color: #3B444B ! important; } /* Greece         */
.variantChaoctopi .occupationBar11 { background-color: #B2BEB5 ! important; } /* Holland        */
.variantChaoctopi .occupationBar12 { background-color: #87A96B ! important; } /* Kiel           */
.variantChaoctopi .occupationBar13 { background-color: #FF9966 ! important; } /* Liverpool      */
.variantChaoctopi .occupationBar14 { background-color: #6D351A ! important; } /* London         */
.variantChaoctopi .occupationBar15 { background-color: #FDEE00 ! important; } /* Marseilles     */
.variantChaoctopi .occupationBar16 { background-color: #007FFF ! important; } /* Moscow         */
.variantChaoctopi .occupationBar17 { background-color: #89CFF0 ! important; } /* Munich         */
.variantChaoctopi .occupationBar18 { background-color: #FE6F5E ! important; } /* Naples         */
.variantChaoctopi .occupationBar19 { background-color: #0000FF ! important; } /* Norway         */
.variantChaoctopi .occupationBar20 { background-color: #8A2BE2 ! important; } /* Paris          */
.variantChaoctopi .occupationBar21 { background-color: #B5A642 ! important; } /* Portugal       */
.variantChaoctopi .occupationBar22 { background-color: #004225 ! important; } /* Rome           */
.variantChaoctopi .occupationBar23 { background-color: #CD7F32 ! important; } /* Rumania        */
.variantChaoctopi .occupationBar24 { background-color: #964B00 ! important; } /* Serbia         */
.variantChaoctopi .occupationBar25 { background-color: #F0DC82 ! important; } /* Sevastopol     */
.variantChaoctopi .occupationBar26 { background-color: #00CC99 ! important; } /* Smyrna         */
.variantChaoctopi .occupationBar27 { background-color: #ED9121 ! important; } /* Spain          */
.variantChaoctopi .occupationBar28 { background-color: #93A2D0 ! important; } /* Petersburg     */
.variantChaoctopi .occupationBar29 { background-color: #ACE1AF ! important; } /* Sweden         */
.variantChaoctopi .occupationBar30 { background-color: #D2691E ! important; } /* Trieste        */
.variantChaoctopi .occupationBar31 { background-color: #FFB7C5 ! important; } /* Tunis          */
.variantChaoctopi .occupationBar32 { background-color: #B8860B ! important; } /* Venice         */
.variantChaoctopi .occupationBar33 { background-color: #FF8C00 ! important; } /* Vienna         */
.variantChaoctopi .occupationBar34 { background-color: #8B008B ! important; } /* Warsaw         */
