@CHARSET "ISO-8859-1";

/* Order: ('Global'), 'England', 'France', 'Italy', 'Germany', 'Austria', 'Turkey', 'Russia' */
.variantBuildAnywhere .country0 {
	color: #CE7800 ! important;
}
.variantBuildAnywhere .country1 {
	color: #DD51BD ! important;
}
.variantBuildAnywhere .country2 {
	color: #007BA5 ! important;
}
.variantBuildAnywhere .country3 {
	color: #259901 ! important;
}
.variantBuildAnywhere .country4 {
	color: #8B481A ! important;
}
.variantBuildAnywhere .country5 {
	color: #D62929 ! important;
}
.variantBuildAnywhere .country6 {
	color: #b8ad00 ! important;
}
.variantBuildAnywhere .country7 {
	color: #6F005D ! important;
}

.variantBuildAnywhere .occupationBar1 {
	background-color: #EFC4E4;
}
.variantBuildAnywhere .occupationBar2 {
	background-color: #79AFC6;
}
.variantBuildAnywhere .occupationBar3 {
	background-color: #A4C499;
}
.variantBuildAnywhere .occupationBar4 {
	background-color: #A08A75;
}
.variantBuildAnywhere .occupationBar5 {
	background-color: #C48F85;
}
.variantBuildAnywhere .occupationBar6 {
	background-color: #EAEAAF;
}
.variantBuildAnywhere .occupationBar7 {
	background-color: #A87E9F;
}