@CHARSET "ISO-8859-1";

.variantClassicMilan .country0 { color: #CE7800 ! important; } /* (Global) */
.variantClassicMilan .country1 { color: #DD51BD ! important; } /* England  */
.variantClassicMilan .country2 { color: #007BA5 ! important; } /* France   */
.variantClassicMilan .country3 { color: #259901 ! important; } /* Italy    */
.variantClassicMilan .country4 { color: #8B481A ! important; } /* Germany  */
.variantClassicMilan .country5 { color: #D62929 ! important; } /* Austria  */
.variantClassicMilan .country6 { color: #b8ad00 ! important; } /* Turkey   */
.variantClassicMilan .country7 { color: #6F005D ! important; } /* Russia   */

.variantClassicMilan .occupationBar1 { background-color: #EFC4E4; } /* England */
.variantClassicMilan .occupationBar2 { background-color: #79AFC6; } /* France  */
.variantClassicMilan .occupationBar3 { background-color: #A4C499; } /* Italy   */
.variantClassicMilan .occupationBar4 { background-color: #A08A75; } /* Germany */
.variantClassicMilan .occupationBar5 { background-color: #C48F85; } /* Austria */
.variantClassicMilan .occupationBar6 { background-color: #EAEAAF; } /* Turkey  */
.variantClassicMilan .occupationBar7 { background-color: #A87E9F; } /* Russia  */

