.App {
  position: "relative";
}

.no-pointer-events {
  pointer-events: none;
}

.fade-in {
  transition: opacity 0.25s;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

.game-button {
  padding: 2px;
  fontstyle: "Roboto";
}
