/* .dialog__container {
  position: absolute;
  right: 0;
}

.dialog__container::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid grey;
}

.dialog__container button {
  margin-left: 20px;
}

.dialog__container .css-10wsz8c-MuiPaper-root-MuiDialog-paper {
  position: absolute;
  margin: 0;
  right: 200px;
}

.dialog__container .css-hz1bth-MuiDialog-container {
  position: relative;
  align-items: initial;
} */

body {
  padding: 0 !important;
  overflow: visible !important;
}

.MuiPopover-paper {
  top: 0 !important;
}

.dialog__container {
  position: absolute;
  max-width: 998px;
  right: 0;
}

.dialog__container::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid grey;
  left: -20px;
}
