@CHARSET "ISO-8859-1";

.variantGermanyVsRussia .country0 { color: #CE7800 ! important; } /* Global */
.variantGermanyVsRussia .country1 { color: #8B481A ! important; } /* Germany */
.variantGermanyVsRussia .country2 { color: #6F005D ! important; } /* Russia*/

.variantGermanyVsRussia .occupationBar1 { background-color: #A08A75; } /* Germany */
.variantGermanyVsRussia .occupationBar2 { background-color: #A87E9F; } /* Russia*/
