@CHARSET "ISO-8859-1";
	
.variantRatWars .country0 { color: #CE7800 ! important; } /* Global  */
.variantRatWars .country1 { color: #DD51BD ! important; } /* Dead Rabbits */
.variantRatWars .country2 { color: #007BA5 ! important; } /* Plug Uglies */
.variantRatWars .country3 { color: #6F005D ! important; } /* Shirt Tails */
.variantRatWars .country4 { color: #259901 ! important; } /* Hell-Cats */

.variantRatWars .occupationBar1 { background-color: #EFC4E4; } /* Dead Rabbits */
.variantRatWars .occupationBar2 { background-color: #79AFC6; } /* Plug Uglies */
.variantRatWars .occupationBar3 { background-color: #A87E9F; } /* Shirt Tails */
.variantRatWars .occupationBar4 { background-color: #A4C499; } /* Hell-Cats */
