@CHARSET"ISO-8859-1";
.variantMars .country0{color:#CE7800!important;}/*Global*/
.variantMars .country1{color:#DD51BD!important;}/*Amazonia*/
.variantMars .country2{color:#007BA5!important;}/*Mareotia*/
.variantMars .country3{color:#259901!important;}/*Noachtia*/
.variantMars .country4{color:#8B481A!important;}/*Cydonia*/
.variantMars .country5{color:#D62929!important;}/*Arkadia*/
.variantMars .country6{color:#b8ad00!important;}/*Alborian*/

.variantMars .occupationBar1{background-color:#EFC4E4;}/*Amazonia*/
.variantMars .occupationBar2{background-color:#79AFC6;}/*Mareaotia*/
.variantMars .occupationBar3{background-color:#A4C499;}/*Noachtia*/
.variantMars .occupationBar4{background-color:#A08A75;}/*Cydonia*/
.variantMars .occupationBar5{background-color:#C48F85;}/*Arkadia*/
.variantMars .occupationBar6{background-color:#EAEAAF;}/*Alborian*/