@CHARSET "ISO-8859-1";

.variantIER .country0 { color: #CE7800 ! important; } /* Global  */
.variantIER .country1 { color: #DD51BD ! important; } /* England */
.variantIER .country2 { color: #259901 ! important; } /* Italy   */
.variantIER .country3 { color: #6F005D ! important; } /* Russia  */

.variantIER .occupationBar1 { background-color: #EFC4E4; } /* England */
.variantIER .occupationBar2 { background-color: #A4C499; } /* Italy   */
.variantIER .occupationBar3 { background-color: #A87E9F; } /* Russia  */

