@CHARSET "ISO-8859-1";

.variantEmpire1on1 .country0 { color: #CE7800 ! important; } /* Global      */
.variantEmpire1on1 .country1 { color: #514f4F ! important; } /* Confederacy */
.variantEmpire1on1 .country2 { color: #08374d ! important; } /* Union       */

.variantEmpire1on1 .occupationBar1 { background-color: #6A6868; }  /* Confederacy */
.variantEmpire1on1 .occupationBar2 { background-color: #406c80; }  /* Union       */