@CHARSET "ISO-8859-1";
	
.variantClassicChaos .country0 { color: #CE7800 ! important; }  /* Global         */
.variantClassicChaos .country1 { color: #5D8AA8 ! important; }  /* Ankara         */
.variantClassicChaos .country2 { color: #E32636 ! important; }  /* Belgium        */
.variantClassicChaos .country3 { color: #9F2B68 ! important; }  /* Berlin         */
.variantClassicChaos .country4 { color: #ED3CCA ! important; }  /* Brest          */
.variantClassicChaos .country5 { color: #FFBF00 ! important; }  /* Budapest       */
.variantClassicChaos .country6 { color: #FF7E00 ! important; }  /* Bulgaria       */
.variantClassicChaos .country7 { color: #A4C639 ! important; }  /* Constantinople */
.variantClassicChaos .country8 { color: #00FFFF ! important; }  /* Denmark        */
.variantClassicChaos .country9 { color: #4B5320 ! important; }  /* Edinburgh      */
.variantClassicChaos .country10 { color: #3B444B ! important; } /* Greece         */
.variantClassicChaos .country11 { color: #B2BEB5 ! important; } /* Holland        */
.variantClassicChaos .country12 { color: #87A96B ! important; } /* Kiel           */
.variantClassicChaos .country13 { color: #FF9966 ! important; } /* Liverpool      */
.variantClassicChaos .country14 { color: #6D351A ! important; } /* London         */
.variantClassicChaos .country15 { color: #FDEE00 ! important; } /* Marseilles     */
.variantClassicChaos .country16 { color: #007FFF ! important; } /* Moscow         */
.variantClassicChaos .country17 { color: #89CFF0 ! important; } /* Munich         */
.variantClassicChaos .country18 { color: #FE6F5E ! important; } /* Naples         */
.variantClassicChaos .country19 { color: #0000FF ! important; } /* Norway         */
.variantClassicChaos .country20 { color: #8A2BE2 ! important; } /* Paris          */
.variantClassicChaos .country21 { color: #B5A642 ! important; } /* Portugal       */
.variantClassicChaos .country22 { color: #004225 ! important; } /* Rome           */
.variantClassicChaos .country23 { color: #CD7F32 ! important; } /* Rumania        */
.variantClassicChaos .country24 { color: #964B00 ! important; } /* Serbia         */
.variantClassicChaos .country25 { color: #F0DC82 ! important; } /* Sevastopol     */
.variantClassicChaos .country26 { color: #00CC99 ! important; } /* Smyrna         */
.variantClassicChaos .country27 { color: #ED9121 ! important; } /* Spain          */
.variantClassicChaos .country28 { color: #93A2D0 ! important; } /* Petersburg     */
.variantClassicChaos .country29 { color: #ACE1AF ! important; } /* Sweden         */
.variantClassicChaos .country30 { color: #D2691E ! important; } /* Trieste        */
.variantClassicChaos .country31 { color: #FFB7C5 ! important; } /* Tunis          */
.variantClassicChaos .country32 { color: #B8860B ! important; } /* Venice         */
.variantClassicChaos .country33 { color: #FF8C00 ! important; } /* Vienna         */
.variantClassicChaos .country34 { color: #8B008B ! important; } /* Warsaw         */

.variantClassicChaos .occupationBar1 { background-color: #5D8AA8 ! important; }  /* Ankara         */
.variantClassicChaos .occupationBar2 { background-color: #E32636 ! important; }  /* Belgium        */
.variantClassicChaos .occupationBar3 { background-color: #9F2B68 ! important; }  /* Berlin         */
.variantClassicChaos .occupationBar4 { background-color: #ED3CCA ! important; }  /* Brest          */
.variantClassicChaos .occupationBar5 { background-color: #FFBF00 ! important; }  /* Budapest       */
.variantClassicChaos .occupationBar6 { background-color: #FF7E00 ! important; }  /* Bulgaria       */
.variantClassicChaos .occupationBar7 { background-color: #A4C639 ! important; }  /* Constantinople */
.variantClassicChaos .occupationBar8 { background-color: #00FFFF ! important; }  /* Denmark        */
.variantClassicChaos .occupationBar9 { background-color: #4B5320 ! important; }  /* Edinburgh      */
.variantClassicChaos .occupationBar10 { background-color: #3B444B ! important; } /* Greece         */
.variantClassicChaos .occupationBar11 { background-color: #B2BEB5 ! important; } /* Holland        */
.variantClassicChaos .occupationBar12 { background-color: #87A96B ! important; } /* Kiel           */
.variantClassicChaos .occupationBar13 { background-color: #FF9966 ! important; } /* Liverpool      */
.variantClassicChaos .occupationBar14 { background-color: #6D351A ! important; } /* London         */
.variantClassicChaos .occupationBar15 { background-color: #FDEE00 ! important; } /* Marseilles     */
.variantClassicChaos .occupationBar16 { background-color: #007FFF ! important; } /* Moscow         */
.variantClassicChaos .occupationBar17 { background-color: #89CFF0 ! important; } /* Munich         */
.variantClassicChaos .occupationBar18 { background-color: #FE6F5E ! important; } /* Naples         */
.variantClassicChaos .occupationBar19 { background-color: #0000FF ! important; } /* Norway         */
.variantClassicChaos .occupationBar20 { background-color: #8A2BE2 ! important; } /* Paris          */
.variantClassicChaos .occupationBar21 { background-color: #B5A642 ! important; } /* Portugal       */
.variantClassicChaos .occupationBar22 { background-color: #004225 ! important; } /* Rome           */
.variantClassicChaos .occupationBar23 { background-color: #CD7F32 ! important; } /* Rumania        */
.variantClassicChaos .occupationBar24 { background-color: #964B00 ! important; } /* Serbia         */
.variantClassicChaos .occupationBar25 { background-color: #F0DC82 ! important; } /* Sevastopol     */
.variantClassicChaos .occupationBar26 { background-color: #00CC99 ! important; } /* Smyrna         */
.variantClassicChaos .occupationBar27 { background-color: #ED9121 ! important; } /* Spain          */
.variantClassicChaos .occupationBar28 { background-color: #93A2D0 ! important; } /* Petersburg     */
.variantClassicChaos .occupationBar29 { background-color: #ACE1AF ! important; } /* Sweden         */
.variantClassicChaos .occupationBar30 { background-color: #D2691E ! important; } /* Trieste        */
.variantClassicChaos .occupationBar31 { background-color: #FFB7C5 ! important; } /* Tunis          */
.variantClassicChaos .occupationBar32 { background-color: #B8860B ! important; } /* Venice         */
.variantClassicChaos .occupationBar33 { background-color: #FF8C00 ! important; } /* Vienna         */
.variantClassicChaos .occupationBar34 { background-color: #8B008B ! important; } /* Warsaw         */
