@CHARSET "ISO-8859-1";

.variantColonial1885 .country0 { color: #CE7800 ! important; }  /* Global    */
.variantColonial1885 .country1 { color: #FF9999 ! important; }  /* Britain  */
.variantColonial1885 .country2 { color: #3366FF ! important; }  /* France  */
.variantColonial1885 .country3 { color: #666666 ! important; }  /* Germany  */
.variantColonial1885 .country4 { color: #82B337 ! important; }  /* Italy  */
.variantColonial1885 .country5 { color: #660000 ! important; }  /* Austria  */
.variantColonial1885 .country6 { color: #FF9900 ! important; }  /* Holland  */
.variantColonial1885 .country7 { color: #CC3333 ! important; }  /* Russia  */
.variantColonial1885 .country8 { color: #B0B030 ! important; }  /* Turkey  */
.variantColonial1885 .country9 { color: #660099 ! important; }  /* China  */
.variantColonial1885 .country10 { color: #339900 ! important; } /* Japan */

.variantColonial1885 .occupationBar1 { background-color: #FF9999; }  /* Britain  */
.variantColonial1885 .occupationBar2 { background-color: #3366FF; }  /* France  */
.variantColonial1885 .occupationBar3 { background-color: #666666; }  /* Germany  */
.variantColonial1885 .occupationBar4 { background-color: #82B337; }  /* Italy  */
.variantColonial1885 .occupationBar5 { background-color: #660000; }  /* Austria  */
.variantColonial1885 .occupationBar6 { background-color: #FF9900; }  /* Holland  */
.variantColonial1885 .occupationBar7 { background-color: #CC3333; }  /* Russia  */
.variantColonial1885 .occupationBar8 { background-color: #B0B030; }  /* Turkey  */
.variantColonial1885 .occupationBar9 { background-color: #660099; }  /* China  */
.variantColonial1885 .occupationBar10 { background-color: #339900; } /* Japan */