@CHARSET "ISO-8859-1";

.variantColdWar .country0 { color: #CE7800 ! important; } /* Global */
.variantColdWar .country1 { color: #990033 ! important; } /* USSR */
.variantColdWar .country2 { color: #006699 ! important; } /* NATO */

.variantColdWar .occupationBar1 { background-color: #be0707; } /* USSR */
.variantColdWar .occupationBar2 { background-color: #3e5fec; } /* NATO */
