
@CHARSET "ISO-8859-1";

.variantClassicFvA .country0 { color: #CE7800 ! important; } /* Global */
.variantClassicFvA .country1 { color: #007BA5 ! important; } /* France */
.variantClassicFvA .country2 { color: #D62929 ! important; } /* Austria */

.variantClassicFvA .occupationBar1 { background-color: #79AFC6; } /* France */
.variantClassicFvA .occupationBar2 { background-color: #C48F85; } /* Austria */