@CHARSET "ISO-8859-1";

.variantEconomic .country0 { color: #CE7800 ! important; } /* Global  */
.variantEconomic .country1 { color: #DD51BD ! important; } /* England */
.variantEconomic .country2 { color: #007BA5 ! important; } /* France  */
.variantEconomic .country3 { color: #259901 ! important; } /* Italy   */
.variantEconomic .country4 { color: #8B481A ! important; } /* Germany */
.variantEconomic .country5 { color: #D62929 ! important; } /* Austria */
.variantEconomic .country6 { color: #b8ad00 ! important; } /* Turkey  */
.variantEconomic .country7 { color: #6F005D ! important; } /* Russia  */

.variantEconomic .occupationBar1 { background-color: #EFC4E4; } /* England */
.variantEconomic .occupationBar2 { background-color: #79AFC6; } /* France  */
.variantEconomic .occupationBar3 { background-color: #A4C499; } /* Italy   */
.variantEconomic .occupationBar4 { background-color: #A08A75; } /* Germany */
.variantEconomic .occupationBar5 { background-color: #C48F85; } /* Austria */
.variantEconomic .occupationBar6 { background-color: #EAEAAF; } /* Turkey  */
.variantEconomic .occupationBar7 { background-color: #A87E9F; } /* Russia  */